.nudgepadAppContainer {
  width : 94%;
  max-width: 1000px;
  position : relative;
  margin : 0 auto;  
}

.nudgepadAppNav {
  width: 100%;
  background-color: #222;
}

.nudgepadAppBackButton {
  font-size: 15px;
  float: left;
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 70px;
  line-height: 40px;
  color: #fff;
}

.nudgepadSquareButton { 
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #444;
}

.nudgepadSquareButton img {
  padding-top: 12px;
}

.nudgepadSquareButton:hover { 
  background-color: #333;
}

.nudgepadSquareButton:active { 
  background-color: #2a2a2a;
}

.nudgepadAppNavContainer {
  padding: 10px;
}


