.nudgepadApp .developAppButton {
  background-color: #333;
  height: 40px;
  margin-left: 10px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  float: right;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.nudgepadApp .developAppButton:hover {
  background-color: #000;
}

.nudgepadApp #devToggle {
  margin-top: 40px;
}

.nudgepadApp .devToggleOption {
  float: left;
  width: 80px;
  text-align: center;
  background-color: #f8f8f8;
  height: 40px;
  line-height: 40px;
}

.nudgepadApp .devSelect {
  background-color: #555;
  color: #fff;
}

.nudgepadApp #explorerHolder {
  cursor: pointer;
}

.nudgepadApp #explorerPath {
  font-size : 15px;
  color : #333;
  text-align : left;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

.nudgepadApp .explorerHeader {
  font-size : 24px;
}

.explorerEdit {
  color: #555;
  height: 40px;
  line-height: 40px;
  background-image: url(/nudgepad/public/images/document.png);
  text-indent: 25px;
  background-position: left center;
  background-repeat: no-repeat;
}

.explorerFolderName {
  height: 40px;
  line-height: 40px;
  color: #1a86d6;
  background-image: url(/nudgepad/public/images/folder2.png);
  text-indent: 25px;
  background-position: left center;
  background-repeat: no-repeat;
}

.devToggleOption {
  cursor: pointer;
}

#logHolder {
  border: none;
  font-size: 15px;
}

#infoContent {
  display: none;
}

#logsContent {
  display: none;
}

.nudgepad.selectable {
  -webkit-user-select: auto;
  -moz-user-select: text;
  user-select: auto;
}


table {
  border-collapse: collapse;
}

td {
  width: 300px;

}
   
.explorerFolderName {
  width: 300px;
}

.explorerRename, .explorerRemove {
  color: #eee;
}

#DevelopExplorer tr td.explorerEdit:hover,
#DevelopExplorer tr td.explorerFolderName:hover,
#DevelopExplorer tr td.explorerRename:hover,
#DevelopExplorer tr td.explorerRemove:hover,
#DevelopExplorer tr td.explorerCreate:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #1a86d6;
}

#DevelopExplorer tr:hover td.explorerRename, #DevelopExplorer tr:hover td.explorerRemove {
  color: #1a86d6;
}

#DevelopExplorer tr th {
  color: #888888;
}

#DevelopExplorer tr.explorerHeader {
  border-bottom: 3px solid #555;
}

#DevelopExplorer tr.explorerFolder {
  border-bottom: 1px solid #ccc;
}

#DevelopExplorer tr.explorerFile {
  border-bottom: 1px solid #ccc;
}

#DevelopConsole {
  padding : 3px;
  font-family : monospace;
  font-size : 16px;
  outline : 0;
  top : 50px;
  bottom : 150px;
  position : fixed;
  left : 50px;
  right : 50px;
  z-index : 1010;
  background-color : rgba(255,255,255,0.9);
  box-shadow : 0px 1px 3px rgba(0,0,0,.5);
}

#DevelopConsole {
  overflow-y: scroll;
}

#DevelopConsoleCheckbox {
  left : 675px;
  bottom : 101px;
  position : fixed;
  z-index : 1010;
  line-height: 40px;
}

#DevelopConsoleLabel {
  left : 700px;
  height : 40px;
  bottom : 90px;
  line-height : 40px;
  font-size : 20px;
  position : fixed;
  z-index : 1010;
}

#DevelopConsoleInput {
  width : 560px;
  height : 40px;
  bottom : 90px;
  left : 90px;
  line-height : 40px;
  font-size : 20px;
  position : fixed;
  border: 1px solid #ddd;
  z-index : 1010;
}


