.InsightPlane {
  box-shadow: 1px 1px 4px #bbb;
  border-radius: 3px;
  background: white;
  height: 80%;
  border: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.InsightRecord {
  position: absolute;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #333;
}
.InsightRecord label {
  position: absolute;
  left: 20px;
  cursor: pointer;
  white-space: nowrap;
}
.InsightRecord i {
  display: inline-block;
}
.InsightRecordAnimate {
  transition: left 0.5s, top 0.5s;
}
.InsightRecord:hover {
  color: blue;
}
.InsightRecord:hover label{
  background: white;
  outline: 10px solid white;
  opacity: 0.9;
  z-index: 20;
}
.InsightEditor textarea {
  min-width: 400px;
  min-height: 250px;
}
.InsightEditor {
  position: absolute;
  min-width: 400px;
  min-height: 250px;
  width: auto;
}
#InsightYMax,#InsightYMin,#InsightXMax,#InsightXMin,#InsightXLabel,#InsightYLabel {
  position: absolute;
  display: none;
}
#InsightYLabel {
  left: -60px;
  top: -15px;
}
#InsightYMax {
  left: -20px;
  top: 20px;
}
#InsightYMin {
  left: -20px;
  bottom: 20px;
}
#InsightXMax {
  right: 20px;
  bottom: -20px;
}
#InsightXMin {
  left: 20px;
  bottom: -20px;
}
#InsightXLabel {
  right: -20px;
  bottom: -20px;
}
