<template id="TemplatesList">
1
 screenshot /nudgepad/tools/templates/samples/one/screenshot.png
 title Landing Page
 description Look at this nice template
 url http://templates.nudgepad.com/nudgepad/tools/templates/samples/one/template.zip
2
 screenshot /nudgepad/tools/templates/samples/two/screenshot.png
 title Signup Form
 description Look at this nice template2
 url http://templates.nudgepad.com/nudgepad/tools/templates/samples/two/template.zip
3
 screenshot /nudgepad/tools/templates/samples/three/screenshot.png
 title Survey
 description Look at this nice template2
 url http://templates.nudgepad.com/nudgepad/tools/templates/samples/three/template.zip
</template>

