#BlogListColumn {
  float: left;
  max-width: 300px;
  box-sizing: border-box;
  padding: 20px;
}

#BlogEditorColumn {
  float: left;
  display: none;
  padding: 20px;
}

#BlogPostTitle {
  margin-bottom: 20px;
  font-size: 18px;
}

#BlogPosts {
  cursor : pointer;
  text-align : left;
  font-family: Georgia;
}

#BlogPosts div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
}

#BlogTitle {
  font-family: Georgia;
  width : 100%;
  text-indent : 10px;
  padding : 0px;
  height : 50px ;
  line-height : 20px;
  font-size : 20px;
  border : 0px;
  border-bottom : 1px solid #ccc;
}

#BlogSaveButton {
  background-color: #1a86d6;
  height: 40px;
  width: 100px;
  color: #fff;
  font-size : 15px;
  margin-top: 10px;
  margin-left: 10px;
  float: right;
  text-align: center;
  cursor : pointer;
  line-height: 40px;
}

#BlogPublishButton {
  background-color: #1a86d6;
  height: 40px;
  width: 100px;
  color: #fff;
  font-size : 15px;
  margin-top: 10px;
  float: right;
  text-align: center;
  margin-left: 10px;
  cursor : pointer;
  line-height: 40px;
}

#BlogContent {
  width : 100%;
  font-size : 16px;
  height : 600px;
  border : none;
  padding : 20px 10px;
  font-family: Georgia;
}

.BlogActivePost {
  color: #1a86d6;
}

#BlogDeleteButton {
  background-color: #555;
  height: 40px;
  width: 100px;
  color: #fff;
  font-size : 15px;
  margin-top: 10px;
  float: right;
  text-align: center;
  cursor : pointer;
  line-height: 40px;
}

#BlogAdvancedButton {
  background-color: #555;
  height: 40px;
  width: 100px;
  color: #fff;
  font-size : 15px;
  margin-top: 10px;
  margin-left: 10px;
  float: right;
  text-align: center;
  cursor : pointer;
  line-height: 40px;
}

#BlogNewPostButton {
  background-color: #64b81f;
  height: 40px;
  width: 100px;
  text-align: center;
  float: right;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

#BlogNewPostButton:hover { 
  background-color: #529919;
}

#BlogNewPostButton:active { 
  background-color: #427a14;
}



