#DesignerShortcutsTableContainer {
  background: rgba(255,255,255,0.9);
  padding: 20px;
  border-radius: 10px;
}


.DesignerShortcutTable {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.DesignerShortcutCode {
  font-weight: bold;
}
