.HomeBtn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.HomeBtn:hover,
.HomeBtn:focus {
  color: #333333;
  text-decoration: none;
}

.HomeBtn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.HomeBtn {
  color: #333333;
  border-color: #cccccc;
}

.HomeBtn:hover,
.HomeBtn:focus,
.HomeBtn:active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

