#FormsStage {
  box-shadow: 1px 1px 4px #bbb;
  border-radius: 3px;
  background: white;
  height: 80%;
  border: 0;
  overflow: scroll;
}

#FormsSource, #FormsComponents {
  box-shadow: 1px 1px 4px #bbb;
  border-radius: 3px;
  background: white;
  height: 80%;
  border: 0;
  width: 100%;
}

#FormsComponents {
  padding: 8px;
}

#FormsEditor {
  display: none;
}

.draggable {
  z-index: 10;
  cursor: pointer;
}
