<template class="Tool" id="Layout">
  
  <!-- Static navbar -->
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" onclick="Launcher.open('Home')">Back</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="cursor" onclick="Layout.publish()">Publish</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  
  
  <div class="container">
  
    <div id="LayoutStage">
      <div class="LayoutCell">
        <div class="LayoutCellControls">
          <span class="layoutText">A</span> <span class="splitHorizontal">=</span> <span class="splitVertical">||</span>
        </div>
      </div>
    </div>
    
  
  </div> <!-- /container -->

</template>

<template style="display: none;" id="LayoutTemplate">
<!doctype html>
<html>
  <head>
  <title id="title">Untitled</title>
  <style id="style">
  #LayoutPage {
  font-family: Helvetica;
  font-weight: 200;
  padding: 0;
  margin: 0;
  font-size: 100px;
  }
  .LayoutCell {
    position: relative;
    color: grey;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: left;
  }
  </style>
  </head>
  <body id="LayoutPage">BODY</body>
</html>
</template>
